.nav-menu {
  text-align: right;
}

.nav-spacing {
  margin-left: 10px;
}

.image-link {
  text-decoration: none;
}

.softcover {
  text-align: center;
  margin: 0 0 80px;
}

.sperm-whale-image {
  display: block;
  margin: 0 auto;
}

.moby-dick {
  width: 500px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fafafa;
}

.moby-dick-softcover {
  float: left;
  margin: 0 40px 0 0;
}

.moby-blockquote {
  float: left;
  margin: 0 40px 0 0;
}

.book-report-opener {
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}